* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f5f2;
  color: #2b2118;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.topbar {
  background-color: #ebe7e2;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.topbar-content {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;

  font-size: 0.7rem;
  letter-spacing: 0.5px;
}

.topbar-content a {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.topbar-content a:hover {
  opacity: 1;
}


.site-header {
  background-color: white;
}

.header-content {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.navbar {
  display: none;
}

.search-box {
  display: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-btn {
  border: none;
  background: transparent;
  font-size: 1.3rem;
}

.hero {
  padding: 3rem 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-text {
  text-align: center;
}

.hero-subtitle {
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;

  color: #8b5e3c;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.1;

  margin-bottom: 1.5rem;
}

.hero-description {
  font-size: 1rem;
  line-height: 1.7;

  color: #5f5247;

  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.primary-btn,
.secondary-btn {
  padding: 1rem;

  border-radius: 999px;

  font-weight: 600;

  text-align: center;
}

.primary-btn {
  background-color: #8b5e3c;
  color: white;
}

.secondary-btn {
  border: 1px solid #8b5e3c;
}

.hero-image img {
  border-radius: 20px;
}

.site-footer {
  background-color: #f1ece7;

  padding-top: 3rem;
}

.footer-main {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  text-align: center;

  padding: 3rem 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.icon-btn {
  border: none;
  background: transparent;

  font-size: 1.5rem;

  cursor: pointer;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.5rem 0;

  background-color: white;
}

.navBar a {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.mobile-menu {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  padding: 2rem 0;

  background-color: white;

  border-top: 1px solid #e5e5e5;

  animation: fadeMenu 0.3s ease;
}

.mobile-menu a {
  text-align: center;

  font-size: 1.1rem;
  font-weight: 500;
}

@keyframes fadeMenu {

  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}